<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
  </head>

  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px;}
  </style>
    
  <body>
    <div class="w3-main" style="margin-left:240px;margin-right:40px">
        <h1><b>About the Blog</b></h1>
        <hr>
        <h2>Pages purpose</h2>
        <p>Pages purpose is to document all the cool stuff GPT3 Language model can do. Blog also provides additional links to examples where blog readers can see
            first hand what new and amazing technology is created by advancements in field of AI development.
        </p>
        <br>
        <h2>What is GPT3</h2>
        <P>Generative Pre-trained Transformer 3 is an autoregressive
             language model that uses deep learning to produce human-like text. It is the third-generation language prediction model in the GPT-n series created by OpenAI</P>
    </div>
      
    
  </body>
</html>
