<!DOCTYPE html>
<html>
  <head>
    <title>Contact Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-indigo.css">
  </head>

  <style>
    body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    body {font-size:16px;}
  </style>
    
  <body>
    <div class="w3-main" style="margin-left:240px;margin-right:40px">
        <h1><b>Contact Blogs Developer</b></h1>
        <hr>
        <p>Email: lukjut@gmail.com</p>
        <a href="https://github.com/Luke1453">Github: Luke1453</a>
    </div>
      
    
  </body>
</html>
